.Idiom {
  .thumbnail-background {
    position: relative;
    background-position: center;
    filter: blur(50px);
    transform: scale(3);
    overflow: hidden;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-size: cover;
    }
  }
}
